*{
    margin: 0;
    padding: 0;
}

.box_categoria{
    margin-top: 8vh;
    margin-left: 40vh;
}

.box_menu{
    display: flex;
    margin-left: 4vh;
    margin-top: 5vh;
    gap: 5vh; 
}

.container_categoria{

    font-size: 3vh;    
    }

  .categoria_menu{
    display: flex;
    gap: 24px;
    margin-top: 48vh;
    margin-right: 36vh;
    }



  .categoria_box{  
    display: flex;
    justify-content: center;
    width: 168px;
    height: 168px;
    border-radius: 10px;
    background: #FFFFFF;
    border: 1px solid #e0e0e0;
    font-size: 30px;  
    }

    .box{
    font-size: 3vh;
    margin-top: auto;
    }

    .box p {
        display: flex;
        justify-content: center;
    }
